
.fixed__menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: 100;
}


.fixed__menu-item {
    margin-bottom: 5px;
    border: 50%;
}

.fixed__menu-item:last-child{
    margin-bottom: 0;
}

.fixed__menu-item--active {

        .fixed__menu-link  {
            border-color: #fff;
        }
}

 

.fixed__menu-link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

