.order__section {
    background-image: url(../../img/bgordersdark.png) ;
    background-size: 100%, 100%;
    width: 1100px;
    height: 652px;
    display: block;
    position: relative;

    // &:after {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         background: rgba(0, 0, 0, 0.5);            
    //         opacity: 0.3;
    //         z-index: 1;
    // }

        
}



.section__title-orders {
    color: var(--white, #FFF);
    margin-top: 62px;
}

.form {
    display: flex;
}

.form__col {
   flex: 1; 
   margin-right: 20px;
   width: 450px;
   padding: 0 20px;

   &:last-child {
       margin-right: 0;
    }
}


.form__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.form__block {
    flex: 1;
    margin-right: 20px;

    &:last-child .form__input3{
        margin-right: 0;
    }
}


.form__input {
    width: 100%;
    border: none;
    padding: 18px 11px;
    border-radius: 4px;
    border: solid 3px transparent;

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__input1 {
   width: 225px;
}


.form__input3 {
    width: 480px;
}

.form__input-textarea {
    height: 142px;
    resize: none;
}


.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}




.radio {
    display: flex;
    cursor: pointer;
    user-select: none;


    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &::before{
                background: url(../../img/checkMarkIcon.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}


.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}


.radio__visible {
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    background: #FFF;
    margin-right: 12px;


    &::before{
        content: "";
        width: 14px;
        height: 14px;
        background: Yellow;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.form__btns {
    margin-top: 44px;
}


.radio__title {
    margin-right: 12px;
}