

.rewievs__display {
    background: #F8FAF9;
    padding: 50px 45px 34px;
}

.rewievs__display-inner {
    display: flex;
}

.rewievs__avatar {
    width: 254px;
    height: 260px;
}


.rewievs__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.rewievs__content {
    flex: 1;
    margin-left: 20px;
}

.rewievs__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color:#292929;
}

.rewievs__text {
    color: #666;
    margin-bottom: 36px;
}

.rewievs__autor {
    color: #292929;
    font-size: 18px;
    font-weight: bold;
}

.intaractive-avatar {
    width: 80px;
    height: 80px;
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &--active {
        border-color: #FEDB3F;
    }
}

 
 

.intaractive__avatar-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}


.intaractive-avatar-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rewievs__switcher {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}