.slider__container {
    display: flex;
    align-items: center;

}



.slider__section {
 background-color: #F8FAF9;
}
 
.slider__item {
    margin-top: rem(53px);
    height: rem(535px);
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}

.slider_item-leftside {
    margin-right: rem(68px);

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

 .slider__img {
     display: block;
 }

 
//  .sliderbg {
//      position: relative;
//      top: -340px;
//      right: 63px;
//      z-index: -1;
//  }


.slider_item-rigthside {

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75%;
    }
}

.parameters__menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__btn {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: rem(91px);
    height: rem(91px);
    background: #3A587E;
    color: #FFF;
    cursor: pointer;
    margin-bottom: rem(52px);

    @include tablets {
        display: none;
    }
}

.slider__title {
    font-size: rem(36px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: rem(24px);
}

.slider__item-desc {
    font-size: rem(18px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;

    @include tablets {
        text-align: center;
    }
}

.board__feature {
    display: flex;
}

.feature__title {
    color: #666;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature__item {
    margin-right: rem(44px);
}

.feature__item:last-child {
    margin-right: 0;
} 

.feature__desc {
    color: #000;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.board__order {
    display: flex;
    align-items: center;

    @include phones{
    
        }
}

.board__price {
    color: #151515;
    font-size: rem(60px);
    font-style: normal;
    font-weight: 300;
    line-height: rem(60px);  
    text-transform: uppercase;
    margin-right: 28px;
}